<h2>Edit This Corgi</h2>

<form action="/entries/<%= @entry.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <label>Author Id:</label>
    <input type="text" name="entry[author_id]" value="<%=@entry.author_id%>">

    <label>Photo URL:</label>
    <input type="text" name="entry[photo_url]" value="<%=@entry.photo_url%>">

    <label>Date:</label>
    <input type="text" name="entry[date_taken]" value="<%=@entry.date_taken%>">

    <label>Caption:</label>
    <input type="text" name="entry[caption]" value="<%=@entry.caption%>">

    <input type="submit" value="Update This Corgi">
</form>

<form action="/entries/<%= @entry.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Remove This Corgi">
</form>
