

<% @entries.each do | entry | %>

<a href="/entries/<%=entry.id%>"><img src="<%= entry.photo_url %>" alt="" /></a>
<div class="entry-info">
    <p class="entry-item">
        Author: <%= entry.author.name %>
    | </p>
    <p class="entry-item">
        Date: <%= entry.date_taken %>
    | </p>
    <p class="entry-item">
        Caption: <%= entry.caption %>
    </p>


</div>


<% end %>
