<h2>An Awesome Corgi <a href="/entries/<%=@entry.id%>/edit">(edit)</a></h2>

<img src="<%= @entry.photo_url%>" alt="a corgi" />

<p>
    Author: <a href="/authors/<%= @entry.author.id %>"><%= @entry.author.name %></a>
</p>
<p>
    Date: <%= @entry.date_taken %>
</p>
<p>
    Caption: <%= @entry.caption %>
</p>
comments
<% @entry.comments.each do |comment| %>
  <p>
    <%= comment.body %>
  </p>
  <p>
    By: <%= comment.name %>
  </p>
  <p>
    at: <%= comment.date_taken %>
  </p>
<% end %>
